body {
	min-width: 375px;
	margin: 0;
	overflow-x: hidden;
	font-size: 16px;
	line-height: 1.1875;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

picture {
	display: contents;
}
